.about-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    border-bottom: 1px solid #834646;
}

.about {
    flex: 1;
    margin-top: 25px;
    padding: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    color: #834646;
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}
.skill-container {
    padding-bottom: 25px;
    border-bottom: 1px solid #834646;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.skill {
    position: relative;
    text-align: center;
    margin: 5px;
    flex: 0 1 calc(20% - 30px);
    max-width: 120px;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.1);
}

.skill img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.skill-name {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.skill:hover .skill-name {
    opacity: 1;
    visibility: visible;
}
.education-section {
    margin-top: 40px;
}

.education-section h2 {
    font-size: 2rem;
    color: #834646;
    margin-bottom: 30px;
}

.education-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.education-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;  
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.education-box h3 {
    font-size: 1.4rem;
    color: #632b2b;
    margin-bottom: 10px;
}

.education-box p {
    font-size: 1.1rem;
    color: #555;
}
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .education-columns {
        flex-direction: column;
        align-items: center;
    }

    .education-box {
        width: 80%;  
        margin-bottom: 20px;
    }
    .skill {
        flex: 0 1 calc(33.33% - 20px);
    }
}
@media (max-width: 576px) {
    .skill {
        flex: 0 1 calc(50% - 10px);
    }
}
