@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.about-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 80%;
}
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 20px;

    border-bottom: 1px solid #834646;
}
.about{
    flex: 2;
    padding: 20px;
}
.about-image {
    flex: 1; /* Take less space for the image */
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.about-container h1 {
font-family: 'Playfair Display',sans-serif;
    color: #834646;
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
.skill-container {
    padding-bottom: 25px;
    border-bottom: 1px solid #834646;
}
.about-animation {
    margin-bottom: 10px; /* Space between animation and image */
}
h2 {
padding:20px;
    color: #834646;
    font-size: 2rem;
    
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.skill {
    font-size: 1.2rem;
    padding: 8px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #333;
}
.education-section {
    margin-top: 40px;
}

.education-section h2 {
    font-size: 2rem;
    color: #834646;
    margin-bottom: 30px;
}

.education-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.education-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;  /* Curved borders */
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.education-box h3 {
    font-size: 1.4rem;
    color: #632b2b;
    margin-bottom: 10px;
}

.education-box p {
    font-size: 1.1rem;
    color: #555;
}

/* Responsive Design: Stack the columns for smaller screens */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-top: 20px;
    }
    .education-columns {
        flex-direction: column;
        align-items: center;
    }

    .education-box {
        width: 80%;  /* Take up more width on smaller screens */
        margin-bottom: 20px;
    }
}