@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
  --yellow-theme-background-color: white;
  --yellow-theme-main-colo: #ffdd40;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-theme-nav-background-color: rgb(104, 80, 80);
}

*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62, 5%;
  height: 100%;
}

body {

  height: 100%;
}

#root{
  height: 100%;
}